@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: Roboto;
}

/* Header Section */

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-between;
    padding: 64px 10%;
    gap: 32px;
    color: #f9faf8;
    background-color: #1f2937;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    width: 460px;
    gap: 8px;
}

h1 {
    font-size: 48px;
    font-weight:bolder
}

.heroContainer p {
    font-size: 18px;
}

.heroContainer button {
    padding: 8px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
}

img {
    width: 800px;
    height: 230px;
}

/* Article Section */

.article {
    padding: 50px 10%;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.imageBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 64px 0;
}

.imageBoxDiv {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.imageBox {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border: 3px solid #3882f6;
}

.imageBoxDiv p {
    text-align: center;
    width: 150px;
}

/* Quote Section */

.quote {
    background-color: #e5e7eb;
    padding: 100px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quoteContainer {
    width: 780px;
}

q {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

p {
    font-weight: bold;
    text-align: end;
    font-size: 18px;
}

/* CTA Section */

.cta {
    padding: 100px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctaContainer {
    width: 900px;
    padding: 32px 64px;
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.ctaLeft h3 {
    font-size: 18px;
}

.ctaLeft p {
    font-weight: normal;
    font-size: 14px;
}

.ctaRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctaRight button {
    width: 100px;
    padding: 4px 16px;
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
    font-weight: bold;
}

/* Footer Section */

footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px 10%;
}

footer p {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}