@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
    font-family: Roboto;
}

/* Header Section */

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #f9faf8;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-between;
    padding: 64px 10%;
    gap: 32px;
    color: #f9faf8;
    background-color: #1f2937;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    width: 415px;
    gap: 8px;
}

h1 {
    font-size: 48px;
    font-weight:bolder
}

.heroContainer button {
    padding: 8px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
}

img {
    width: 650px;
    height: 230px;
}

/* Article Section */

.article {
    padding: 10px 10%;
}

h2 {
    text-align: center;
}

.imageBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.imageBoxDiv {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.imageBox {
    height: 200px;
    width: 200px;
}